*{
	margin: 0;
	padding: 0;
}
html, body{
  height: 100%;
	background-color: #eeeeee !important; 
}
/*------------------
  3. Header section
---------------------*/

.header-section {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0 15px;
  z-index: 999;
}

/*hero text*/
.text1 , .text2{
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  color: orange;
}
.text1{
  font-weight: 600;
}
.animate a:hover{
  text-decoration: none;
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    background: orange !important;
}

.bg1{
  background-image: url(../img/section1.jpg);
  background-size: cover;
}
.bg2{
  background-image: url(../img/section2.jpg);
  background-size: cover;
}
.bg3{
  background-image: url(../img/section3.jpg);
  background-size: cover;
}
